<% include ./partials/header %>
	<div class = "ui main text container segment">
		<div class="ui huge header">New Blog</div>
		<form class="ui form" action="/blogs" method="POST">
		<div class="field">
			<input type="text" name="blog[title]" placeholder="Name">
		</div>
		<div class="field">
			<input type="text" name="blog[link]" placeholder="Image">
		</div>
		<div class="field">
			<textarea name="blog[desc]"></textarea>
		</div>
		<button class="ui green basic button">Submit</button>
		</form>
	</div>


<% include ./partials/footer %>